h1{
color: black;
text-align: center;
border-bottom: 2px solid rgb(0, 0, 0);
}
p{
    color:rgb(0, 0, 0);
    font-size:  18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line: height 1.61.8;
    margin-bottom: 13px;
    }
body{
    background-color:  rgb(0, 255, 242);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, script;
}